<a href="https://colab.research.google.com/github/J-Schea29/Deep-Learning-Challenge/blob/main/AlphabetSoupCharity_Optimzation.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Preprocessing

In [59]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
# import tensorflow as tf
import matplotlib as plt
import sklearn as skl
import tensorflow as tf

#  Import and read the charity_data.csv. 
application_df = pd.read_csv("/charity_data.csv")
application_df.head()

        EIN                                      NAME  ... ASK_AMT IS_SUCCESSFUL
0  10520599              BLUE KNIGHTS MOTORCYCLE CLUB  ...    5000             1
1  10531628    AMERICAN CHESAPEAKE CLUB CHARITABLE TR  ...  108590             1
2  10547893        ST CLOUD PROFESSIONAL FIREFIGHTERS  ...    5000             0
3  10553066            SOUTHSIDE ATHLETIC ASSOCIATION  ...    6692             1
4  10556103  GENETIC RESEARCH INSTITUTE OF THE DESERT  ...  142590             1

[5 rows x 12 columns]

In [60]:
# Drop the non-beneficial ID columns, 'EIN' and 'NAME'.
application_df = application_df.drop(columns=['EIN', 'NAME'])

In [61]:
# Determine the number of unique values in each column.
application_df.nunique()

APPLICATION_TYPE            17
AFFILIATION                  6
CLASSIFICATION              71
USE_CASE                     5
ORGANIZATION                 4
STATUS                       2
INCOME_AMT                   9
SPECIAL_CONSIDERATIONS       2
ASK_AMT                   8747
IS_SUCCESSFUL                2
dtype: int64

In [62]:
# Look at APPLICATION_TYPE value counts for binning
app_count = application_df['APPLICATION_TYPE'].value_counts()
app_count

T3     27037
T4      1542
T6      1216
T5      1173
T19     1065
T8       737
T7       725
T10      528
T9       156
T13       66
T12       27
T2        16
T14        3
T25        3
T15        2
T29        2
T17        1
Name: APPLICATION_TYPE, dtype: int64

In [63]:
# Choose a cutoff value and create a list of application types to be replaced
# use the variable name `application_types_to_replace`
application_types_to_replace = list(app_count[app_count<500].index)

# Replace in dataframe
for app in application_types_to_replace:
    application_df['APPLICATION_TYPE'] = application_df['APPLICATION_TYPE'].replace(app,"Other")

# Check to make sure binning was successful
application_df['APPLICATION_TYPE'].value_counts()

T3       27037
T4        1542
T6        1216
T5        1173
T19       1065
T8         737
T7         725
T10        528
Other      276
Name: APPLICATION_TYPE, dtype: int64

In [64]:
# Look at CLASSIFICATION value counts for binning
class_count = application_df['CLASSIFICATION'].value_counts()
class_count

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
         ...
C1580        1
C1900        1
C4120        1
C5200        1
C2190        1
Name: CLASSIFICATION, Length: 71, dtype: int64

In [72]:
# It will be helpful to look at CLASSIFICATION value counts >1
application_df['CLASSIFICATION'].value_counts()[application_df['CLASSIFICATION'].value_counts() > 1]

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
C1700      287
C4000      194
C5000      116
C1270      114
C2700      104
C2800       95
C7100       75
C1300       58
C1280       50
C1230       36
C1400       34
C7200       32
C2300       32
C1240       30
C8000       20
C7120       18
C1500       16
C1800       15
C6000       15
C1250       14
C8200       11
C1238       10
C1278       10
C1237        9
C1235        9
C7210        7
C4100        6
C2400        6
C1720        6
C1257        5
C1600        5
C0           3
C2710        3
C1260        3
C1246        2
C1234        2
C1267        2
C1256        2
C3200        2
Name: CLASSIFICATION, dtype: int64

In [85]:
# Choose a cutoff value and create a list of classifications to be replaced
# use the variable name `classifications_to_replace`
classifications_to_replace = list(class_count[class_count<1000].index)

# Replace in dataframe
for cls in classifications_to_replace:
    application_df['CLASSIFICATION'] = application_df['CLASSIFICATION'].replace(cls,"Other")
    
# Check to make sure binning was successful
application_df['CLASSIFICATION'].value_counts()

C1000    17326
C2000     6074
C1200     4837
Other     2261
C3000     1918
C2100     1883
Name: CLASSIFICATION, dtype: int64

## 1st Attempt

In [76]:
application_df2 = application_df.drop(columns=["STATUS"])

In [77]:
# Choose a cutoff value and create a list of classifications to be replaced
# use the variable name `classifications_to_replace`
classifications_to_replace = list(class_count[class_count<100].index)

# Replace in dataframe
for cls in classifications_to_replace:
    application_df2['CLASSIFICATION'] = application_df2['CLASSIFICATION'].replace(cls,"Other")
    
# Check to make sure binning was successful
application_df2['CLASSIFICATION'].value_counts()

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
Other      669
C1700      287
C4000      194
C5000      116
C1270      114
C2700      104
Name: CLASSIFICATION, dtype: int64

In [92]:
# Convert categorical data to numeric with `pd.get_dummies`
dummy = pd.get_dummies(application_df2)
dummy

        ASK_AMT  ...  SPECIAL_CONSIDERATIONS_Y
0          5000  ...                         0
1        108590  ...                         0
2          5000  ...                         0
3          6692  ...                         0
4        142590  ...                         0
...         ...  ...                       ...
34294      5000  ...                         0
34295      5000  ...                         0
34296      5000  ...                         0
34297      5000  ...                         0
34298  36500179  ...                         0

[34299 rows x 49 columns]

In [127]:
# Split our preprocessed data into our features and target arrays
y = dummy["IS_SUCCESSFUL"]
X = dummy.drop(columns=["IS_SUCCESSFUL"])

# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=1)

In [128]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

In [105]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
nn = tf.keras.models.Sequential()

# First hidden layer
nn.add(tf.keras.layers.Dense(units=6, activation="relu", input_dim=48))

# Second hidden layer
nn.add(tf.keras.layers.Dense(units=6, activation="relu"))

# Output layer
nn.add(tf.keras.layers.Dense(units=1, activation="sigmoid"))

# Check the structure of the model
nn.summary()

Model: "sequential_10"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_30 (Dense)            (None, 6)                 294

 dense_31 (Dense)            (None, 6)                 42

 dense_32 (Dense)            (None, 1)                 7

=================================================================
Total params: 343
Trainable params: 343
Non-trainable params: 0
_________________________________________________________________

In [106]:
# Compile the model
nn.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

In [107]:
# Train the model
fit_model = nn.fit(X_train_scaled, y_train, epochs=50)

Epoch 1/50
804/804 [==============================] - 2s 1ms/step - loss: 0.6126 - accuracy: 0.6920
Epoch 2/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5668 - accuracy: 0.7249
Epoch 3/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5573 - accuracy: 0.7285
Epoch 4/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5548 - accuracy: 0.7294
Epoch 5/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5529 - accuracy: 0.7290
Epoch 6/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5519 - accuracy: 0.7293
Epoch 7/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5506 - accuracy: 0.7313
Epoch 8/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5500 - accuracy: 0.7312
Epoch 9/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5493 - accuracy: 0.7313
Epoch 10/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5488 - accuracy: 0.7301
Epoch 11/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5483 - accuracy: 0.7327
Epoch 12/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5479 - accuracy: 0.7327
Epoch 13/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5476 - accuracy: 0.7333
Epoch 14/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5475 - accuracy: 0.7334
Epoch 15/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5471 - accuracy: 0.7335
Epoch 16/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5471 - accuracy: 0.7342
Epoch 17/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5467 - accuracy: 0.7338
Epoch 18/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5463 - accuracy: 0.7339
Epoch 19/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5465 - accuracy: 0.7339
Epoch 20/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5463 - accuracy: 0.7340
Epoch 21/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5461 - accuracy: 0.7339
Epoch 22/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5460 - accuracy: 0.7342
Epoch 23/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5460 - accuracy: 0.7339
Epoch 24/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5458 - accuracy: 0.7343
Epoch 25/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5457 - accuracy: 0.7341
Epoch 26/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5456 - accuracy: 0.7349
Epoch 27/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5457 - accuracy: 0.7347
Epoch 28/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5453 - accuracy: 0.7341
Epoch 29/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5454 - accuracy: 0.7345
Epoch 30/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5454 - accuracy: 0.7350
Epoch 31/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5453 - accuracy: 0.7340
Epoch 32/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5455 - accuracy: 0.7350
Epoch 33/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5452 - accuracy: 0.7352
Epoch 34/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5453 - accuracy: 0.7337
Epoch 35/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5453 - accuracy: 0.7350
Epoch 36/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5452 - accuracy: 0.7346
Epoch 37/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5452 - accuracy: 0.7351
Epoch 38/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5452 - accuracy: 0.7354
Epoch 39/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5451 - accuracy: 0.7358
Epoch 40/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5450 - accuracy: 0.7342
Epoch 41/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5450 - accuracy: 0.7344
Epoch 42/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5447 - accuracy: 0.7339
Epoch 43/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5449 - accuracy: 0.7353
Epoch 44/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5447 - accuracy: 0.7337
Epoch 45/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5450 - accuracy: 0.7348
Epoch 46/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5448 - accuracy: 0.7335
Epoch 47/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5450 - accuracy: 0.7342
Epoch 48/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5451 - accuracy: 0.7344
Epoch 49/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5447 - accuracy: 0.7348
Epoch 50/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5450 - accuracy: 0.7353

In [108]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 0s - loss: 0.5518 - accuracy: 0.7271 - 365ms/epoch - 1ms/step
Loss: 0.5517985224723816, Accuracy: 0.7271137237548828

## 2nd Attempt

In [166]:
# Convert categorical data to numeric with `pd.get_dummies`
dummy = pd.get_dummies(application_df)
dummy

       STATUS   ASK_AMT  ...  SPECIAL_CONSIDERATIONS_N  SPECIAL_CONSIDERATIONS_Y
0           1      5000  ...                         1                         0
1           1    108590  ...                         1                         0
2           1      5000  ...                         1                         0
3           1      6692  ...                         1                         0
4           1    142590  ...                         1                         0
...       ...       ...  ...                       ...                       ...
34294       1      5000  ...                         1                         0
34295       1      5000  ...                         1                         0
34296       1      5000  ...                         1                         0
34297       1      5000  ...                         1                         0
34298       1  36500179  ...                         1                         0

[34299 rows x 44 columns]

In [173]:
# Split our preprocessed data into our features and target arrays
y = dummy["IS_SUCCESSFUL"]
X = dummy.drop(columns=["IS_SUCCESSFUL"])

# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=1)

In [174]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

In [169]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
nn = tf.keras.models.Sequential()

# First hidden layer
nn.add(tf.keras.layers.Dense(units=100, activation="relu", input_dim=43))

# Second hidden layer
nn.add(tf.keras.layers.Dense(units=100, activation="relu"))

# Output layer
nn.add(tf.keras.layers.Dense(units=1, activation="sigmoid"))

# Check the structure of the model
nn.summary()

Model: "sequential_22"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_66 (Dense)            (None, 100)               4400

 dense_67 (Dense)            (None, 100)               10100

 dense_68 (Dense)            (None, 1)                 101

=================================================================
Total params: 14,601
Trainable params: 14,601
Non-trainable params: 0
_________________________________________________________________

In [170]:
# Compile the model
nn.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

In [171]:
# Train the model
fit_model = nn.fit(X_train_scaled, y_train, epochs=100)

Epoch 1/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5697 - accuracy: 0.7223
Epoch 2/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5564 - accuracy: 0.7296
Epoch 3/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5530 - accuracy: 0.7297
Epoch 4/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5519 - accuracy: 0.7311
Epoch 5/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5499 - accuracy: 0.7309
Epoch 6/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5490 - accuracy: 0.7304
Epoch 7/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5486 - accuracy: 0.7314
Epoch 8/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5472 - accuracy: 0.7325
Epoch 9/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5466 - accuracy: 0.7324
Epoch 10/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5465 - accuracy: 0.7334
Epoch 11/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5457 - accuracy: 0.7337
Epoch 12/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5455 - accuracy: 0.7336
Epoch 13/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5448 - accuracy: 0.7346
Epoch 14/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5436 - accuracy: 0.7348
Epoch 15/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5442 - accuracy: 0.7350
Epoch 16/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5439 - accuracy: 0.7344
Epoch 17/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5432 - accuracy: 0.7360
Epoch 18/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5432 - accuracy: 0.7351
Epoch 19/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5427 - accuracy: 0.7366
Epoch 20/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5422 - accuracy: 0.7374
Epoch 21/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5419 - accuracy: 0.7369
Epoch 22/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5419 - accuracy: 0.7368
Epoch 23/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5417 - accuracy: 0.7378
Epoch 24/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5413 - accuracy: 0.7370
Epoch 25/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5410 - accuracy: 0.7381
Epoch 26/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5414 - accuracy: 0.7378
Epoch 27/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5407 - accuracy: 0.7369
Epoch 28/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5403 - accuracy: 0.7381
Epoch 29/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5401 - accuracy: 0.7382
Epoch 30/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5405 - accuracy: 0.7376
Epoch 31/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5401 - accuracy: 0.7378
Epoch 32/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5397 - accuracy: 0.7385
Epoch 33/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5393 - accuracy: 0.7391
Epoch 34/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5393 - accuracy: 0.7392
Epoch 35/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5394 - accuracy: 0.7385
Epoch 36/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5386 - accuracy: 0.7395
Epoch 37/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5390 - accuracy: 0.7385
Epoch 38/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5387 - accuracy: 0.7391
Epoch 39/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5386 - accuracy: 0.7393
Epoch 40/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5384 - accuracy: 0.7390
Epoch 41/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5381 - accuracy: 0.7395
Epoch 42/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5384 - accuracy: 0.7383
Epoch 43/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5383 - accuracy: 0.7394
Epoch 44/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5378 - accuracy: 0.7390
Epoch 45/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5378 - accuracy: 0.7402
Epoch 46/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5375 - accuracy: 0.7393
Epoch 47/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5373 - accuracy: 0.7389
Epoch 48/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5375 - accuracy: 0.7396
Epoch 49/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5375 - accuracy: 0.7389
Epoch 50/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5371 - accuracy: 0.7393
Epoch 51/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5372 - accuracy: 0.7395
Epoch 52/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5372 - accuracy: 0.7394
Epoch 53/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5370 - accuracy: 0.7397
Epoch 54/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5369 - accuracy: 0.7397
Epoch 55/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5366 - accuracy: 0.7392
Epoch 56/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5362 - accuracy: 0.7401
Epoch 57/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5361 - accuracy: 0.7398
Epoch 58/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5361 - accuracy: 0.7394
Epoch 59/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5364 - accuracy: 0.7399
Epoch 60/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5362 - accuracy: 0.7405
Epoch 61/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5360 - accuracy: 0.7395
Epoch 62/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5361 - accuracy: 0.7399
Epoch 63/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5357 - accuracy: 0.7395
Epoch 64/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5363 - accuracy: 0.7395
Epoch 65/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5360 - accuracy: 0.7396
Epoch 66/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5359 - accuracy: 0.7396
Epoch 67/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5358 - accuracy: 0.7399
Epoch 68/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5357 - accuracy: 0.7391
Epoch 69/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5356 - accuracy: 0.7399
Epoch 70/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5353 - accuracy: 0.7399
Epoch 71/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5355 - accuracy: 0.7395
Epoch 72/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5355 - accuracy: 0.7404
Epoch 73/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5355 - accuracy: 0.7403
Epoch 74/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5351 - accuracy: 0.7402
Epoch 75/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5354 - accuracy: 0.7405
Epoch 76/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5351 - accuracy: 0.7393
Epoch 77/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5351 - accuracy: 0.7395
Epoch 78/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5347 - accuracy: 0.7404
Epoch 79/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5346 - accuracy: 0.7401
Epoch 80/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5349 - accuracy: 0.7403
Epoch 81/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5343 - accuracy: 0.7404
Epoch 82/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5352 - accuracy: 0.7397
Epoch 83/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5349 - accuracy: 0.7404
Epoch 84/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5347 - accuracy: 0.7398
Epoch 85/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5346 - accuracy: 0.7403
Epoch 86/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5345 - accuracy: 0.7393
Epoch 87/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5347 - accuracy: 0.7407
Epoch 88/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5342 - accuracy: 0.7404
Epoch 89/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5341 - accuracy: 0.7402
Epoch 90/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5343 - accuracy: 0.7406
Epoch 91/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5346 - accuracy: 0.7399
Epoch 92/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5339 - accuracy: 0.7403
Epoch 93/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5342 - accuracy: 0.7398
Epoch 94/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5338 - accuracy: 0.7400
Epoch 95/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5347 - accuracy: 0.7406
Epoch 96/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5351 - accuracy: 0.7408
Epoch 97/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5340 - accuracy: 0.7395
Epoch 98/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5337 - accuracy: 0.7404
Epoch 99/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5337 - accuracy: 0.7404
Epoch 100/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5335 - accuracy: 0.7406

In [172]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 0s - loss: 0.5677 - accuracy: 0.7285 - 374ms/epoch - 1ms/step
Loss: 0.5677050948143005, Accuracy: 0.7285131216049194

## 3rd Attempt

In [176]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
nn = tf.keras.models.Sequential()

# First hidden layer
nn.add(tf.keras.layers.Dense(units=100, activation="relu", input_dim=43))

# Second hidden layer
nn.add(tf.keras.layers.Dense(units=100, activation="relu"))

# Output layer
nn.add(tf.keras.layers.Dense(units=1, activation="sigmoid"))

# Check the structure of the model
nn.summary()

Model: "sequential_23"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_69 (Dense)            (None, 100)               4400

 dense_70 (Dense)            (None, 100)               10100

 dense_71 (Dense)            (None, 1)                 101

=================================================================
Total params: 14,601
Trainable params: 14,601
Non-trainable params: 0
_________________________________________________________________

In [177]:
# Compile the model
nn.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

In [178]:
# Train the model
fit_model = nn.fit(X_train_scaled, y_train, epochs=50)

Epoch 1/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5700 - accuracy: 0.7201
Epoch 2/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5568 - accuracy: 0.7284
Epoch 3/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5534 - accuracy: 0.7291
Epoch 4/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5514 - accuracy: 0.7326
Epoch 5/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5495 - accuracy: 0.7313
Epoch 6/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5485 - accuracy: 0.7322
Epoch 7/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5480 - accuracy: 0.7326
Epoch 8/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5474 - accuracy: 0.7338
Epoch 9/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5467 - accuracy: 0.7334
Epoch 10/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5460 - accuracy: 0.7341
Epoch 11/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5459 - accuracy: 0.7345
Epoch 12/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5448 - accuracy: 0.7340
Epoch 13/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5446 - accuracy: 0.7352
Epoch 14/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5439 - accuracy: 0.7350
Epoch 15/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5438 - accuracy: 0.7352
Epoch 16/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5431 - accuracy: 0.7359
Epoch 17/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5431 - accuracy: 0.7361
Epoch 18/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5422 - accuracy: 0.7357
Epoch 19/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5422 - accuracy: 0.7359
Epoch 20/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5425 - accuracy: 0.7365
Epoch 21/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5418 - accuracy: 0.7361
Epoch 22/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5412 - accuracy: 0.7369
Epoch 23/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5418 - accuracy: 0.7372
Epoch 24/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5413 - accuracy: 0.7376
Epoch 25/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5411 - accuracy: 0.7360
Epoch 26/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5409 - accuracy: 0.7374
Epoch 27/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5403 - accuracy: 0.7372
Epoch 28/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5399 - accuracy: 0.7387
Epoch 29/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5401 - accuracy: 0.7381
Epoch 30/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5400 - accuracy: 0.7376
Epoch 31/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5396 - accuracy: 0.7383
Epoch 32/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5397 - accuracy: 0.7370
Epoch 33/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5388 - accuracy: 0.7375
Epoch 34/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5391 - accuracy: 0.7377
Epoch 35/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5388 - accuracy: 0.7376
Epoch 36/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5390 - accuracy: 0.7385
Epoch 37/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5385 - accuracy: 0.7388
Epoch 38/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5387 - accuracy: 0.7380
Epoch 39/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5382 - accuracy: 0.7383
Epoch 40/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5379 - accuracy: 0.7391
Epoch 41/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5381 - accuracy: 0.7401
Epoch 42/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5378 - accuracy: 0.7387
Epoch 43/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5378 - accuracy: 0.7392
Epoch 44/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5376 - accuracy: 0.7390
Epoch 45/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5374 - accuracy: 0.7384
Epoch 46/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5375 - accuracy: 0.7392
Epoch 47/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5372 - accuracy: 0.7397
Epoch 48/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5371 - accuracy: 0.7396
Epoch 49/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5367 - accuracy: 0.7389
Epoch 50/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5367 - accuracy: 0.7398

In [180]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 0s - loss: 0.5614 - accuracy: 0.7308 - 290ms/epoch - 1ms/step
Loss: 0.561366856098175, Accuracy: 0.7308454513549805

In [181]:
# Export our model to HDF5 file
nn.save_weights('AlphabetSoupCharity_Optimzation.ipynb')

##Overview
The goal of this project was to use a neural network to predict whether or not  applicants will be successful if funded by Alphabet Soup Foundation.
##Results
* The target vairble in this model is the column "IS_SUCCESSFUL"
* All other columns (with three exception) are features.
* The "EIN" and "NAME" columns were neither feature nor targets and therefore were removed. I also felt like the "STATUS" column might not be need for this to predict sucess.

##Summary
* I failed to acheive a result greater than 75%
* I tried first to remove the status column and change the bin size for the classifcation column. This however did not seem to increase accuracy. Then I increased the Epoc and this was not sucessful. Finally, I tried increasing the neurons and this did improve the accuracy, though not significantly.